.github/logs/*
.github/drafts/pull-requests/*

.factorio/*
!.factorio/config/
.factorio/config/*
!.factorio/config/config.ini
!.factorio/data/
.factorio/data/*
!.factorio/data/server-settings.json
!.factorio/mods/
.factorio/mods/*
!.factorio/mods/mod-list.json

.tmp/
/vendor/
*_backup*

luacov.stats.out
luacov.report.out
